@import './base.css';
body {
    font-family: var(--mainFont);
}
p{
    font-size: 19px;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 24px;
}
a{
font-size: 19px
}
span{
    font-size: 17px;
}
.header {
    padding: 20px 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    font-weight: 600;
}
.logo img {
    width: 30px;
}
.header .logo a {
    color: var(--mainColor);
    font-family: var(--otherFont);
}
.menu {
    display: none;
}
.nav ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.nav ul li a {
    color: #101928;
    flex-wrap: wrap;
}
.active {
    font-weight: 900;
}
.auth {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 700;
    font-family: var(--subFont);
    flex-wrap: wrap;
}
.header .auth a {
    border-radius: 8px;
    padding: 10px 35px;
}
.auth .login {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    font-family: var(--subFont);
}
.auth .register {
    background-color: var(--mainColor);
    color: white;
    border: white solid 1px;
    font-family: var(--subFont);
}
/*end header*/
/*start main*/
/*start interface*/
.interface{
    padding: 25px 40px;
}
.interface-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}
.interface .text{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}
.interface .text p:first-of-type{
    width: 25px;
    color: var(--mainColor);
    font-family: var(--subFont);
 }
 .interface-content h1{
    width: 65%;
    color: black;
    font-weight: 700;
 }
 .interface .text p:last-of-type{
    color:#898989;
 }
 .interface p span{
    font-size: 19px;
 }
 .interface span {
    font-weight: 700;
    color: var(--mainColor);
    font-size: 42px;
 }
 .interface .action{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
 }
 .interface .action a{
    background-color: var(--mainColor);
    color: white;
    border: white solid 1px;
    border-radius: 8px;
    padding: 7px 30px;
    font-family: var(--subFont);
 }
 .interface .action .Play-Video{
    gap: 5px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
 }
.interface-photo , .interface-content{
    width: calc((100% - 30px) / 2);
}
 .interface-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

.interface-photo img {
    width:70%;
}
/*end interface*/
/*start features*/
 .features {
    padding: 80px 40px;
}
.features .row{
    gap: 20px;
}
.features.container{
    position: relative;
}
.general-idea{
    width: calc((100% - 20px)/5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
 .general-idea p:first-of-type {
    color:var(--mainColor);
    font-family: var(--subFont);
 }
 .general-idea h3{
    color: black;
    font-weight: 800;
    font-family: var(--subFont);
 }
 .general-idea p:last-of-type {
    color: #898989;
 }
 .features-count{
    display: flex;
    flex-wrap: wrap;
    width: calc(4*(100% - 20px)/5);
    gap: 20px;
 }
 .feature{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    width:calc((100% - 60px)/4);
    gap: 10px;
    background-color: var(--mainColor);
    padding: 40px 20px;
    color: #FFFFFF;
    border-radius: 8px;
 }
 .feature p {
    padding-top: 7px;
 }
 .feature svg{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
 }
 .feature h4{
    font-family: var(--subFont);
 }



/*end features*/
/*start staticis*/
.statistics{
   background-color: var(--mainColor);
   padding: 80px 40px;
   margin-bottom: 40px;
   width: 100%;
}
.statistics-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;

}
.statistics-photo
,.statistics-text{
    width: calc((100% - 30px)/2);
}
.statistics-photo img {
    width: 65%;
}
.statistics-text{
    color: #FFFFFF;
    width:50% ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.statistics-text p:nth-last-of-type(2){
    color: #F0C932;
    font-family: var(--subFont);
}
 .statistics-text h2{
    font-weight: 700;
    width: 40%;
 }
 .statistics-bar{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    text-align: center;
 }
 .num number{
    color: #F0C932;
    font-weight: 500;
 }
 .num{
    font-family: var(--subFont);
 }
/*end staticis*/
/*start courses*/
.courses {
    padding: 25px 40px;
}
.courses .row {
    gap: 40px;
    align-items: flex-start;
}
.showen-courses {
    display: flex;
    flex-wrap: wrap;
    width: calc(4*(100% - 40px)/7);
    gap: 20px;
}
.best-course {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 30px;
    box-sizing: border-box;
    width: calc((100% - 20px)/2);
}
.temp {
    position: relative;
    width: fit-content;
}
.best-course img {
    width: 100%;
    filter: brightness(0.6);
}
.best-course .best-mark {
    background-color: var(--mainColor);
    color: #FFFFFF;
    font-weight: 500;
    padding: 7px;
    position: absolute;
    top: 20px;
    z-index: 1;
}
.best-course .price {
    position: absolute;
    color: #FFFFFF;
    font-weight: 500;
    right: 15px;
    bottom: 15px;
    z-index: 1;
}
.course-name {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.course-details {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.best-course p {
    color: #898989;
}
.best-course h3 {
    font-weight: 600;
}
.best-course span {
    color: var(--mainColor);
}
.hidden-courses {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
}
.hidden-courses p:first-of-type {
    color: var(--mainColor);
    padding-bottom: 25px;
    font-family: var(--subFont);
}
.hidden-courses h2 {
    font-weight: 800;
    margin-bottom: 30px;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: initial;
}
.hidden-courses p:last-of-type {
    color: #898989;
    padding-bottom: 25px;
}
.hidden-courses a {
    background-color: var(--mainColor);
    color: white;
    border: white solid 1px;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 35px;
    font-family: var(--subFont);
}
/*end courses*/
/*startTestimonials*/
.Testimonials .row {
    gap: 40px;
}
.Testimonials {
    background-color: #FFFFFF;
    padding: 25px 40px;
}
.Testimonials h2 {
    text-align: center;
    padding-bottom: 15px;
    font-family: var(--secFont);
}
.Testimonial {
    box-sizing: border-box;
    width: calc((100% - 40px)/2);
    padding: 30px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 7px;
    position: relative;
}
.Testimonials .client-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.Testimonial .client {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.Testimonial .client-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}
.Testimonial span,
.Testimonial q {
    color: #898989;
}
.ratting img {
    width: 30px;
}
.Testimonial::after {
    content: "";
    border-bottom: transparent 40px solid;
    border-top: rgb(228, 228, 228) 40px solid;
    border-left: transparent 40px solid;
    border-right: rgb(228, 228, 228) 40px solid;
    top: 0;
    right: 0;
    position: absolute;
}
/*endTestimonials*/
/*end main*/
/*start footer*/
footer {
    background-color: #393E46;
    color: #FFFFFF;
    padding: 25px 40px;
    width: 100%;
}
footer a,
footer p {
    color: #FFFFFF;
}
footer a {
    padding-bottom: 10px;
    font-family: var(--otherFont);
}
footer i {
    border: #FFFFFF solid 1px;
    padding: 5px;
}

.footer-start {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}
.footer-end {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-end .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*end footer*/
/*RWD */
@media screen and (max-width:1500px) {
    .container{
        width: calc(100% - 80px);
    }
    .general-idea{
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
    }
    .feature{
        text-align: center;
    }
    .features-count{
        width: 100%;
    }
    .feature svg{
        margin: auto;
    }
    .courses h3{
        font-size: 20px;
    }
    .footer-end 
    ,.footer-start{
        width: 100%;
        padding-bottom: 50px;
    }
    .text-about-us p {
        display: none;
    }
    .social-media,
    footer .logo {
        margin: auto;
    }
}
@media screen and (max-width:1200px) {
    .header .nav
    ,.header .auth {
        display: none;
    }
    .menu {
        display: block;
        order: 2;
    }
    .feature{
        padding: 20px 10px;
     }
    .showen-courses {
        width: 100%;
        order: 1;
    }

    .hidden-courses {
        width: 100%;
    
    }
    .hidden-courses h2 {
        width: fit-content;
    }

    .courses {
        padding: 80px;
    }
    .footer-end h2{
        font-size: 30px;
    }
    .hidden-courses{
        text-align: center;
    }
    .hidden-courses a 
    ,.hidden-courses h2{
        margin: auto;
    }
}
@media screen  and (max-width:1090px)  {
    .general-idea{
        width: 100%;
    }
    .features-count{
        width: 100%;
    }
    .features{
        width: 100%;
    }
    .feature{
        box-sizing: border-box;
        width: calc((100% - 50px)/3);
    }
    .interface-content h1 {
        width: 80%;
    }
    .interface-photo img {
        width: 85%;
    }
    .feature:last-of-type{
        display: none;
    }
    .statistics{
        width: 100%;
        margin: auto;
    }
    .statistics-text h2 {
        width: 80%;
    }
}
@media screen and (max-width:992px) {
    .container{
        width: calc((100% - 60px));
    }
    .interface-photo img {
        width:55%;
    }
    .interface .action{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin: auto;
        align-items: center;
     }
    .Testimonial {
        width: 100%;
    }

    .client,
    .ratting {
        margin: auto;
    }

    .client-rev q {
        text-align: center;
    }

    .courses {
        padding: 40px 20px;
    }
    .interface{
       padding: 40px 20px;
    }
    .interface-content{
        width: 100%;
        order: 1;
        padding-top: 30px;
    }
    .interface-photo{
        width: 100%;
    }
    .interface .text{
        text-align: center;
    }
    .interface .text p{
        margin: auto;
    }
    .features{
        padding: 40px 20px;
    }
    .statistics-photo{
        width: 100%;
    }
    .statistics-text{
        width: 100%;
        text-align: center;
    }
    .statistics-bar
    ,.statistics-text h2{
        margin: auto;
    }
    .statistics{
    padding: 40px 20px;
    }
    .Testimonials .client-img img {
        width: 60px;
        height: 60px;
    }
    .interface .text h1{
        margin: auto;
    }
}
@media screen and (max-width:900px){
    .footer-item {
        width: 50%;
        padding-bottom: 30px;
    }
    .footer-end{
        text-align: center;
    }
}
@media screen and (max-width:768px) {
    .best-course{
        padding-top: 50px;
    }
    .courses {
        padding: 0;
    }

    .header .auth {
        display: none;
    }
    .interface{
        padding: 30px 50px;
    }
    .feature{
        width: 48%;
    }
    .feature:nth-last-child(2){
        display: none;
    }
    .interface 
    ,.statistics
    ,.Testimonial
    ,.courses
    ,.features{
        padding-bottom: 30px;
    }

}
@media screen and (max-width:700px) {
    .courses {
        padding: 20px 10px;
    }
    .interface{
        padding: 20px 10px;
    }
    .features{
        padding: 20px 10px;
    }
    .statistics{
        padding: 20px 30px;
    }
    .showen-courses {
        padding: 0px;
    }
    .best-course {
        width: 75%;
        margin: auto;
    }
    .Testimonials .client-img img {
        width: 60px;
        height: 60px;
    }

    .best-course:nth-of-type(3)
    ,.best-course:nth-of-type(4) {
        display: none;
    }

    .features{
        padding: 20px 10px;
    }
}
@media screen and (max-width:576px) {
    p{
        font-size: 14px;
    }
    h1{
        font-size:28px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 22px;
    }
    h4{
        font-size: 18px;
    }
    a{
    font-size: 14px
    }
    span{
        font-size: 12px;
    }
    .container {
        width: calc(100% - 10px);
    }

    .header .logo img {
        width: 25px;
    }
    .feature{
        width: 70%;
    }

    .footer-item {
        width: 50%;
        padding-bottom: 25px;
    }
    .interface-content h1{
        width: 70%;
     }
    .features-count{
        width: 100%;
    }
    .feature{
        margin: auto;
    }
    .statistics-text h2{
        width: 60%;
    }
    .footer-item {
        width: 100%;
    }
    .footer-end h2{
        font-size: 25px;
    }
}
@media screen  and (max-width:400px){
    statistics-bar {
        gap: 33px;
    }
    .interface-content h1 {
         width: 80%; 
         text-align: center;
    }
    .statistics-bar {
        gap: 33px;
    }
    .course-name {
        gap: 35px;
    }
    
}
